@font-face {
    font-family: Bogart;
    src: url(Bogart-Extrabold-trial.ttf);
}

@font-face {
    font-family: Bogart2;
    src: url(Bogart-Light-trial.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #FFEDDB;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50vw;
    height: 83vh;
    border-radius: 20px;
    padding: 0 20px;
}

img {
    height: 60%;
}

.text {
    font-family: Bogart;
    font-size: 4em;
    margin-bottom: 10px;
    margin: 10px;
}

.text2 {
    font-family: Bogart2;
    font-size: 1.3em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type="text"],
input[type="password"],
select.form-control{
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #5f744a;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    width: 30%;
}

.birthday-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.birthday-label label {
    margin-right: 10px;
}

.birthday-select {
    display: flex;
    margin-bottom: 20px;
}

.birthday-select select {
    width: calc(37.33%);  /* Adjust the width as needed */
    margin-right: 5px;
}

/* Adjust the width as needed */



.btn {
    margin-top: 1.5%;
    font-family: Bogart;
    color: white;
    background-color: #E08479;
    border: none;
    text-align: center;
    font-size: 28px;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
}

a {
    margin-top: 20px;
}
