<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>

<div class="container">

    <div class="content">
        <img src="{{ url_for('static', filename='css/finish.png') }}" >
        <div class="text">Finished!</div>
        <div class="text2">You may now head on to the survey</div>
        <!-- <button class="btn" type="button" onclick="window.location.href ='loginPage'">Yes</button>
        <button class="btn" type="button" onclick="window.location.href ='registerPage'">No</button> -->
    </div>

</div>

</body>
</html>