<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleForm2.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Function to resize the textarea dynamically
            function resizeTextarea() {
                $(this).css('height', 'auto').height(this.scrollHeight);
            }

            // Attach the resizeTextarea function to the textarea's input event
            $('textarea#response').on('input', resizeTextarea);
        });
    </script>
</head>
<body>

<div class="container" style="overflow-y: scroll">

    <div class="content">
        <div class="text">System B: Intrusive Authentication</div>
        <img src="{{ url_for('static', filename='css/KitchenPicture.png') }}" style="max-width: 80%; max-height: 40%px;" >
        <div class="text2">1. For Task 1, please describe what you see in the picture above in 250 words. There is no right or wrong answer, just describe as much as you can!</div>
        <div class="text2">To get you started, you can (but don't have to): describe what the each person is doing and the setting they are in.  </div>
        <textarea id="response" placeholder="Enter your description here."></textarea>

        <div class="text2">2. For Task 2, please try your best to solve these math questions!</div>
        <div class="text2" id="math-equation"></div>
        <div class="text2">a. <math xmlns="http://www.w3.org/1998/Math/MathML"><mfrac linethickness="0"><mrow><msqrt><mn>9</mn></msqrt><mo>+</mo><mn>6</mn></mrow><mn>3</mn></mfrac></math></div>
        <textarea id="response2" placeholder="Answer."></textarea>

        <div class="text2">b. <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow><mo>(</mo><mfrac linethickness="0"><mrow><msqrt><mn>4</mn></msqrt></mrow><mn>2</mn></mfrac><mo>)</mo><mo>+</mo><msup><mn>3</mn><mn>2</mn></msup></mrow></math></div>
        <textarea id="response3" placeholder="Answer."></textarea>

        <div class="text2"> c.<math xmlns="http://www.w3.org/1998/Math/MathML"><mfrac linethickness="0"><mrow><mo>(</mo><msup><mn>2</mn><mn>3</mn></msup><mo>+</mo><mn>2</mn><mo>)</mo></mrow><mn>5</mn></mfrac></math></div>
        <textarea id="response4" placeholder="Answer."></textarea>
        
        <button class="btn" id="captureButton" type="button" onclick="window.location.href ='SystemC'">Next System</button>
    </div>


</div>

<script>
    let lastOTP = 0;

    function showPrompt() {
    let text;
    let state;
    let input = prompt("Please enter the OTP sent to you by mail:", " ");
    if (input == null || input == "") {
        state="Cancelled";
        console.log("state is:");
        console.log(state);
        fetch('/OTP', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ state: state, input: input })
                //body: JSON.stringify({ parseInt(sessionStorage.getItem('countdownHours')), parseInt(sessionStorage.getItem('countdownHours')))
            })
            .then(response => response.json())
            .then(data => {
                // Display success message
                console.log(data.message);
                if(data.message === "Logout") {
                    //window.location.href = '/SystemA.html';
                    window.location.href = '{{ url_for("login") }}';

                }
            })
    }
}

function checkForPrompt() {
    // Make an AJAX request to Flask to check if the prompt should be shown
    $.ajax({
        url: '/checkOTP',
        type: 'GET',
        success: function (response) {
            let currentOTP = response.OTP;
            console.log("OTP RESPONSE IS:");
            console.log(currentOTP);
            console.log(typeof parseInt(currentOTP))
            console.log(typeof lastOTP)
            if(parseInt(currentOTP)!=lastOTP){
                console.log("current OTP is:");
                console.log(currentOTP);
                console.log("last OTP is:");
                console.log(lastOTP);
                lastOTP = parseInt(currentOTP);
                showPrompt();
            }
        },
        error: function () {
            // Handle AJAX error
            console.error('Error while checking for prompt.');
        }
    });
}

// Set interval to periodically check for prompt
setInterval(checkForPrompt, 5000);
</script>

</body>
</html>
